einops==0.8.1
matplotlib==3.10.5
mne==1.10.0
mne_icalabel==0.7.0
numpy==2.3.2
omegaconf==2.3.0
pandas==2.3.1
psutil==5.9.0
pyriemann==0.7
rich==14.1.0
scikit_learn==1.7.1
scipy==1.16.1
statsmodels==0.14.4
submitit==1.5.3
torch==2.7.0
torchinfo==1.8.0
tqdm==4.67.1
wandb==0.21.0
